obj/
bin/
/obj/Debug/net10.0/CertavueApp.AssemblyInfo.cs
/obj/Debug/net10.0/CertavueApp.AssemblyInfoInputs.cache 
Data/Output
Data/Outputcsv
CertavueApp/Documents/schedule_spectacular_fitness_mixedA_varied40s_OpenAI_Response.txt
